{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <form class="form-horizontal" id="form01" action="?c=tag&a=add" method="post" enctype="multipart/form-data">
    <div class="top-title">
      <h2 class="sub-header">标签信息</h2>
      <div class="top-tools">
        <button type="submit" class="btn btn-primary">保存</button>
        <a class="btn btn-default" href="?c=tag&a=lst">返回</a>
      </div>
    </div>
    <div style="clear:both"></div>
      <div class="form-group">
        <label class="col-sm-2 control-label"><span class="name_span">标题</span><i>*</i></label>
        <div class="col-sm-7">
          <input type="text" class="form-control name" placeholder="标题" name="title" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"><span class="name_span">名称</span><i>*</i></label>
        <div class="col-sm-7">
          <input type="text" class="form-control name" placeholder="名称" name="name" value="">
        </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label"><span class="name_span">订阅数</span><i>*</i></label>
          <div class="col-sm-7">
              <input type="text" class="form-control name" placeholder="订阅数" name="suber_count" value="">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label"><span class="name_span">备注</span><i>*</i></label>
          <div class="col-sm-7">
              <input type="text" class="form-control name" placeholder="备注" name="remark" value="">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label"><span class="name_span">状态</span><i>*</i></label>
          <div class="col-sm-3">
              <select class="form-control" name="send_ch">
                  <option  value="1">快速</option>
                  <option  value="2">正常</option>
                  <option  value="3">缓慢</option>
              </select>
          </div>
      </div>
  <hr/>
  <div class="table-responsive">
  </div>
</form>
</div>
{include file="footer.html"}