    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="?c=useraccount&a=index">订阅信息后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="javascript:;">管理员：{$CURRENT_USER} </a></li>
            <li><a href="?c=index&a=loginout">退出</a></li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          {foreach from=$rbacList item=item}
          <ul class="nav nav-sidebar">
            <li class="active">
              <a>{$item.remark}</a>
            </li>
            {foreach from=$item.child item=controls}
            <li ><a href="{$controls.base_url}">{$controls.remark}</a></li>
            {/foreach}
          </ul>
          {/foreach}
        </div>

