{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">日志&nbsp;&nbsp;<small>共{$total}条数据</small></h2>
        <div class="top-tools">
           <!-- <a href="?c=subscribe&a=add"class="btn btn-primary">增加日志</a>-->
        </div>
    </div>
    <div style="clear:both"></div>
    <ul id="myTab" class="nav nav-tabs">
        <li active="form01"class="{if $smarty.get.type eq '1' or $smarty.get.type eq ''}active{/if}"><a href="?c=log&a=lst&type=1">
            日志成功列表</a>
        </li>
        <li active="form03"class="{if $smarty.get.type eq '3'}active{/if}"><a href="?c=log&a=lst&type=3">
            日志失败列表</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
               <!-- <th class="row-selected row-selected"><input class="check-all" type="checkbox"></th>
                -->
                <th>id</th>
                <th>标签</th>
                <th >请求数据</th>
                <th >响应数据</th>
                <th >ip地址</th>
                <th >错误号</th>
                <th >状态 </th>
                <th >处理时间 </th>
                <th >操作 </th>
            </tr>
            </thead>
            <tbody>
            {foreach $lists as $item}
            <tr class="item">
                <td class="id" data-id="{$item.id}">{$item.id}</td>
                <td class="tag" data-tag="{$item.tag_name}">{$item.tag_name}</td>
                <td class="request" data-request='{trim(trim($item.send_data,'}'),'{')}'>{substr($item.send_data,0,30)}</td>
                <td class="response" data-response="{$item.response_data}">{substr($item.response_data,0,30)}</td>
                <td class="url" data-url="{$item.url}">{substr($item.url,0,30)}</td>
                <td class="err_num" data-err_num="{$item.err_code}">{$item.err_code}</td>
                <td>
                    {if $item.status == 1}
                    <span class="adminstatus adminonline">成功</span>
                    {else}
                    <span class="adminstatus adminoffline">失败</span>
                    {/if}
                </td>
                <td>{if $item.update_time}{$item.update_time}{else}{$item.create_time}{/if}</td>
                <td class="retry_send">{if $item.status == 0}<button class="btn btn-primary retry pull-right" type="button">重试</button>{/if}</td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div>{$pagination_link}</div>
    </div>
    {include file="footer.html"}
    <script>
        {literal}
        $(".retry_send").click(function(){
           if($('.retry_send > button').length==0)
            {
                return false;
            }else
            {
               var id = $(this).parent().find('td:first').html();
                $.post("?c=log&a=retry",{
                    'id':id,
                },function( response ){
                    console.log(response);
                    if(response.error==100) {
                        throwExc(response.msg);
                        return false;
                    }else if(response.error==200) {
                        showSucc(response.msg);
                        setTimeout("load()",1000);
                    }
                },"json");
            };
        })
        function load(){
            window.location.href="?c=log&a=lst&type=3&p="+getUrlParam('p');
        }
        $('.item').on('click',function(){
            var index = $(this).index();
            var html = '';
            html +='<table class="table table-striped">';
            html +='<tr><td>ID</td><td>'+($(this).find('td.id').data('id'))+'</td></tr>';
            html +='<tr><td>请求数据</td><td>{'+($(this).find('td.request').data('request'))+'}</td></tr>';
            html +='<tr><td>响应数据</td><td>'+($(this).find('td.response').data('response'))+'</td></tr>';
            html +='<tr><td>ip地址</td><td>'+($(this).find('td.url').data('url'))+'</td></tr>';
            html +='<tr><td>错误号</td><td>'+($(this).find('td.err_num').data('err_num'))+'</td>';
            html +='</table>';
            layer.alert(html,{"area": '600px'});
        });
        {/literal}
    </script>