{include file="tpl_head.html"}


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="sub-header">已完成列表&nbsp;&nbsp;
        <small>共{$total}条数据</small>
    </h2>
    <!-- <div style="clear:both"></div> -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>tag</th>
                <th style="width: 100px;">请求地址</th>
                <th style="width: 100px;">请求数据</th>
                <th style="width: 100px;">响应数据</th>
                <th>HTTP状态码</th>
                <th>最后操作时间</th>
            </tr>
            </thead>
            <tbody>
            {foreach from=$listResult item=log}
            <tr>
                <td>{$log->id}</td>
                <td>{$log->tag}</td>
                <td style="width: 100px;">{$log->ip_address}</td>
                <td style="width: 100px;">{$log->source}</td>
                <td style="width: 100px;">{$log->response}</td>
                <td>{$log->http_code}</td>
                <td>{if ($log->update_time)}{$log->update_time}{else}{$log->create_time}{/if}</td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination">
            {$paginationLink}
        </ul>
    </div>


</div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
